<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>NewLibrary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>UserIdentification</filter-name>
  	<filter-class>filter.UserIdentification</filter-class>
  </filter>
  <filter>
  	<filter-name>AdminIdentification</filter-name>
  	<filter-class>filter.AdminIdentification</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>UserIdentification</filter-name>
  	<url-pattern>/LibraryServer/user/editUser/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/user/getUser/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/user/delUser/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>UserIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/getBook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/lendBook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/returnBook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/addBook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/delBook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/book/editBook/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>AdminIdentification</filter-name>
  	<url-pattern>/LibraryServer/record/getRecord/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>UserIdentification</filter-name>
  	<url-pattern>/LibraryServer/record/getMyRecord/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>filter.HeadersCORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/LibraryServer/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>router.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/LibraryServer/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Book</servlet-name>
    <servlet-class>router.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/LibraryServer/book/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Record</servlet-name>
    <servlet-class>router.Record</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Record</servlet-name>
    <url-pattern>/LibraryServer/record/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/page404.jsp</location>
  </error-page>
</web-app>